body
{
    font-family: 'Merriweather', serif;
}
/*** Navbar ***/
.nav-item
{
    letter-spacing:.2em;
    front-size: 14px;
    text-transform:uppercase;

}
.dropdown-item
{
    letter-spacing:.2em;
    front-size: 14px;
    text-transform:uppercase;
}
.my-footer
{
    background-color:#004d66;
    height:60px;
}
.my-footer p
{
 padding-top:20px;
 front-size:14px;
}

/*** category page***/
.my-row-class
{
padding-top:15px;
}

.my-row-class .mx-auto
{
    color:#000;
    front-size:12px;
}

.my-image
{
width:100%;
height:auto;
}

.my-title
{
front-size:15px;
text-transform:uppercase;
letter-spacing:.2em;
}

.my-image-padding
{
padding:5px;
}

.my-bottom-margin
{
margin-bottom:10px;
}

.card-body h4
{
front-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
}

/*** product page ***/
.my-product-row-class
{
padding-top:15px;
padding-bottom:20px;
}
.my-product-row-class .mx_auto
{
color:#000;
front-size:12px;
text-decoration:none;
}
.my-product-title
{
front-size:16px;
text-transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
.my-product-text
{
padding-right:20px;
}

/**search**/

.my-search-text{
padding-top:20px;
}

/**cart page **/
.my-custom-table{
min-width:40px;
front-size:14px;
}

.my-custom-thead{
front-weight:normal;
text-transform:uppercase;
letter-spacing:.2em;
background-color:#f8f8fa !important;
}

.custom-a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:#868e96 !important;
}
.my-custom-button{
margin-top:5px;
}