{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
    {% if category %}
    {{ product.name }}-ABC store
    {% else %}
        see our new collections-ABC store
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my-product-row-class">
    <div class="mx-auto">
        <p>
            <a href="{% url 'shop:allproductcat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}} | {{product.name}}</a>
        </p>
    </div>
<div class="=container">
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div class="container" style="min-width:18rem">
            <img src="{{product.image.url}}" alt="{{product.name}}" width="300" height="300">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div>
            <h1 class="my-product-title">{{product.name}}</h1>
             <p>$ {{product.price}}</p>
             <p class="my-title">product description </p>
             <p class="text-justify my-product-text">{{product.description}}</p>
             {% if product.stock <= 0 %}
              <p class="text-justify my-product-text"><b> Out of stock </b></p>
             {% else %}
                <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}"> Add to cart </a>
             {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
